@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Applying Open Sans globally to body and form elements */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
 
}

.header-font {
  font-family: "Anton SC", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: whitesmoke;
}

.nav-bar {
  font-family: "Anton SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  
}


.quote-font {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}




.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: opacity 0.5s, right 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
