@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Applying Open Sans globally to body and form elements */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
 
}
