.gradientHeader {
    background-image: linear-gradient(to right, rgb(97, 34, 197), rgb(48, 48, 184));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
      line-height: 1.2;
      text-align: center;
}  


